<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GestorInventario.Properties.Settings.IshopConnectionString"
            connectionString="Data Source=DESKTOP-OPGRA4G;Initial Catalog=Ishop;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="GestorInventario.Properties.Settings.IntelafConnectionString"
            connectionString="Data Source=DESKTOP-OPGRA4G;Initial Catalog=Intelaf;Integrated Security=True;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>